
{% load static %}
<html>
<head>
<title>Django Blog</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro: 400"
 rel="stylesheet"> 
<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<Header>
<h1><a href="{% url 'home'%}">Django Blog</a></h1>
</Header>
<div>
{% block content %}
{% endblock content %}
</div>
</body>
</html>
