<html >
<head>
{% extends 'base.html' %}
<title> HOMEPAGE </title>
</head>
{% block content %}
{% for post in object_list %}
<body>
<div class="post_entry">
<h2><a href="">{{ post.title }}</a></h2>
<p>{{ post.body }}</p>
</div>
</body>
{% endfor %}
{% endblock content %}
</html >
